img{
     position: absolute;
     z-index: -1;
     height: 135%;
     width: 100%;
     opacity: 0.5;
}

h3{
     color: lavender;
     background-color: sienna;
}

p{
     color: rgb(240, 97, 145);
}

ul{
     list-style: disc;
}